// colors
$prime: #0071e4;
$lightPrime: #2a93fd;
$meteor: #5035f7;
$verminal: #52d116;
$disabled: #e7e7e7;
$black: #100e0e;
$white: #fff;
$grey: #878787;
$lightgrey: #f9f9f9;
$Blond: #fdefbf;
$color: #1e3240;
$lightblue: #d0eafc;
$textcolor: #706e6e;
$dark: #000;
